@model MyFace.Models.View.UserViewModel

@{
    Layout = "_Layout";
}

<section id="hero-section" class="top-profile">
    <img class="cover-img"src="@Model.CoverImageUrl" alt="Cover Image"/>
    <div class="user-profile">
    <img class="profile-img" src="@Model.ProfileImageUrl" alt="Profile Image"/>
    <div class="user-details">
    <h1 class="display-name">@Model.DisplayName</h1>
    <div class="user-name"> @Model.Username</div>
    <div class="email-address"> @Model.Email</div>
    </div>
    </div>
</section>


<section id="posts-section" class="posts-section">
    <h2>@(Model.FirstName)'s Posts</h2>
    <partial name="_PostList" model="@Model.Posts"/>
    @if (Model.HasMorePosts)
    {
        <a href="@Model.ShowMorePostsUrl">Show More</a>
    }
</section>


<section id="likes-section">
    <h2>Posts @Model.FirstName Liked</h2>
    <partial name="_PostList" model="@Model.Likes"/>
    @if (Model.HasMoreLikes)
    {
        <a href="@Model.ShowMoreLikesUrl">Show More</a>
    }
</section>

<section id="dislikes-section">
    <h2>Posts @Model.FirstName Disliked</h2>
    <partial name="_PostList" model="@Model.Dislikes"/>
    @if (Model.HasMoreDislikes)
    {
        <a href="@Model.ShowMoreDislikesUrl">Show More</a>
    }
</section>
